{% extends "base.html" %}

{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.title and not page.is_homepage %}
    {% set title = page.title ~ " - " ~ config.site_name | striptags %}
  {% endif %}
  {% set description = config.site_description %}
  {% if page and page.meta.description %}
    {% set description = page.meta.description %}
  {% endif %}
  {% set image = config.site_url ~ 'assets/twitter.jpg' %}
  {% if page and page.meta.image %}
    {% set image = config.site_url ~ page.meta.image %}
  {% endif %}
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:title" content="{{ title }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">
  <meta name="twitter:image" content="{{ image }}">
  <meta property="og:url" content="{{ page.canonical_url }}">
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

{% set title = config.site_name %}
{% if page and page.title and not page.is_homepage %}
  {% set title = page.title ~ " - " ~ config.site_name | striptags %}
{% endif %}
{% set description = config.site_description %}
{% if page and page.meta.description %}
  {% set description = page.meta.description %}
{% endif %}
{% set image = config.site_url ~ 'assets/twitter.jpg' %}
{% if page and page.meta.image %}
  {% set image = config.site_url ~ page.meta.image %}
{% endif %}

{% set tweet_text = title | d(description) | d('kyasha notebook') %}
<!-- 上 -->
<div class="tweet-button-container">
  <a href="https://twitter.com/share" 
  class="twitter-share-button" 
  data-text="{{ tweet_text }}" 
  data-url="{{ page.canonical_url | d(site_url) }}" 
  data-lang="ja" 
  data-show-count="false">
  ツイート
  </a>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{{ super() }}

<!-- 下 -->
<a href="https://twitter.com/share" 
   class="twitter-share-button" 
   data-text="{{ tweet_text }}" 
   data-url="{{ page.canonical_url | d(site_url) }}" 
   data-lang="ja" 
   data-show-count="false">
   ツイート
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


{% endblock %}