@import url("theme.css");

.wy-nav-content {
	/* padding: 1.618em 3.236em; */
	/* height: 100%; */
	/* max-width: 800px; */
	max-width: none;
	/* margin: auto */
}

/* custom.css */
.md-button {
	/* width、heightにpaddingやborderの幅を含めます。無くてもよいですがこうしておくとレイアウトがしやすいです。 */
	box-sizing: border-box;
	/* 境界線は無し */
	border: none;
	/* 輪郭線は無し */
	outline: none;
	/* ボタンにカーソルが当たった時に人差し指マークを表示する */
	cursor: pointer;
	/* 文字色は白 */
	color: white;
	/* 背景色は紫 */
	background-color: #134c4e;
	/* パッディング(ボタン内側の余白)の設定 上下10px、左右16px */
	padding: 10px 16px;
	/* ボタンの角を少し丸くする */
	border-radius: 4px;
	/* ボタンに影をつける */
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0,0,0,.12);
	/* 影をふわっと表示させる */
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	/* 波紋用spanタグをボタン内に配置するための設定 */
	position: relative;
	/* 波紋がボタンからはみ出ないようにする */
	overflow: hidden;
 }

/* .math-scroll { */
.md-typeset div.arithmatex > *{
	overflow-x: auto;
	overflow-y: hidden;
}

img[src*='#center'] {
	display: block;
	margin: auto;
}

.image {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

figcaption {
	font-size: 72%;
	text-align: center;
	font-size: 13pt;
}
/* コードブロック */
:root > * {
	--md-code-hl-string-color: #0FF1CE;
}
.md-typeset pre {
	color: #f8f8f2;
	/* color: #222; */
}
.md-typeset .highlighttable {
	margin-left:-20px;
	margin-right: -20px;
	border-radius: 0;
}
.md-typeset .highlighttable > * {
	--md-code-bg-color: #222 !important;
	--md-code-fg-color: #fefefe !important;
}
.md-typeset .highlighttable .linenos .linenodiv pre span {
	background-color: #222 !important;
	color: #fefefe !important;
}
.md-typeset .highlighttable .md-clipboard:before,
.md-typeset .highlighttable .md-clipboard:after {
	color: rgba(240,240,240,.8);
}
.md-typeset .highlighttable .md-clipboard:hover:before,
.md-typeset .highlighttable .md-clipboard:hover:after {
	color: rgba(102,217,224,1);
}

.md-typeset .highlighttable .linenos .linenodiv pre {
	line-height: 15pt;
  }

  .twitter-share-button {
	transform: scale(1.3);
	display: block;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 10pt;
  }
  .header-tweet {
	position: absolute;
	right: 20px;
	top: 10px;
  }
  